* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    border-color: #f4f4f4;
}

.calculator{
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    background-color: white;
}

#display{
    width: 100%;
    height: 50px;
    text-align: right;
    font-size: 24px;
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid #333;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button{
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
}
button:hover {
    background-color: rgb(6, 55, 98);
}